.container-fluid{
    font-family: "Times New Roman", Times, serif;
    padding-left: 250px;
    padding-right: 250px;
    
}

/*nav*/
ul a:hover{
    color: red !important;
}

nav{
    height: 100px;
    background-color: dimgrey;

}

nav li{
    text-align: center;
    text-transform: uppercase;   
    
}
nav a{
    color: white !important;
    font-size: 1.8em !important;
}

li > .nav-item{
    margin-bottom: 
}
li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background-color: lightgrey;
    transform: scaleX(0);
    transition: transform .3s;
}
li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
.active{
    color: red !important;
    font-weight: bold;
}
/*contacts*/
.contact{
    margin-left: ;
    padding-right:;
}



/*Image carosel*/


.carousel-inner{
    
    overflow-x: hidden;

}
