.container-box{
    font-family: "Times New Roman", Times, serif;
    padding-left: 10%;
    padding-right: 10%;
    
}

/*div containers*/

.containerAssects .home{
    display:;
}

.containerAssects .aboutUs{
    display:none;
}
.containerAssects .services{
    display:none;
}
.containerAssects .contacts{
    display:none;
}
.containerAssects .news{display:none;
}

/*end of div containers*/

/*nav*/
ul a:hover{
    color: red !important;
}

nav{
    height: ;
    background-color:;
    margin-left: 4.7%;
    margin-right: 4.7%;

}

nav li{
    text-align: center;
    text-transform: uppercase;   
    
}
nav a{
    color: white !important;
    font-size: 1em !important;
}

/*
.contact nav-item{
    
    height: 20px;
    width: 20px;
    margin-left: 50px;
}
.contact{
    padding-left: 70%;
    padding-bottom: 0px;
    
}
*/
/*navbar button layout */


.navbar-default{
    margin-top: 8;
    background-color: black;
    border-color: gray;
}
.navbar-default .icon-bar {
    background-color: white;
}
.navbar-default-nav{
    background-color: gray;
    
}
/*/////////////////////*/

li.nav-item{
    margin-bottom:0px;
    margin-top: 3px;
}

.navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    margin-left: 6px;
}


.navbar-nav>li>a:hover:after{
    position: ;
    background-color: ;
}
.nav-item{
    background-color: ;
}


li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background-color: lightgray;
    transform: scaleX(0);
    transition: transform .3s;
}
li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
.active{
    color: red !important;
    font-weight: bold;
    background-color: lightgray;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.10);
    
}

/* contacts phone number and email*/
.navbar-right{
    margin-left:;
    margin-right:6px;
    padding-right:;
    padding-top: ;
    padding-left: ;
    padding-bottom:0px;
    
}
.nav>li>a:hover{
    background-color: lightgray;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
}
.contact{
    margin-left: ;
    margin-right:-19px;
    padding-right:;
    padding-top: 8px;
}
.navbar-fixed-top-2{
    margin-top:px;
    padding-left: ;
    padding-right: ;
    background-color: grey;
    margin-left: 
}
.navbar-fixed-top{
    
    padding-left: ;
    padding-right: ;
    background-color: white;  
}
.container-fluid .navbar-header{
    margin-right: 4%;
    margin-left: 4%;
}
/*container assects*/

.containerAssects{
    margin-top:150px;
}

/*Image carosel*/
.carousel-inner{
    
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    padding-bottom:;

}
/*
.item>img{
    height: 100%;
    width: 100%;
    padding-top: px;
    
}
*/
.carousel-inner > .item > img {
    width:100%;
    height:360px;
/*    object-fit:contain;*/
/*
    .fill {object-fit: fill;}
    .contain {object-fit: contain;}
    .cover {object-fit: cover;}
    .scale-down {object-fit: scale-down;}
    .none {object-fit: none;}
*/
}


/*h1*/
h1 {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

/*/////////////////////////////*/


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
/*.row.content {height: 450px}*/

/* Set gray background color and 100% height */
/*
.sidenav {
    padding-top: 10px;
    background-color: #f1f1f1;
    height: auto;
    width: auto;
}
*/

/* Set black background color, white text and some padding */

/* On small screens, set height to 'auto' for sidenav and grid */
/*
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        width: auto;
        padding: 0px;
    }
    .row.content {height:auto;} 
}
*/

/*footer*/

.contain-footer{
    background-color: lightgray;
    height: 300px;
    margin-top: 20px;
    padding-left: %;
    padding-right: %;
    padding-right:px;
    margin-right: ;
    margin-left: ;
}

.row{
    margin-right: px;
}
.col-sm-2{
    padding-right:px;
    margin: px;
}

.col-md-12{

    background-color: #555;
    padding-bottom: ;
    padding-top: ;
    margin-top: ;
    margin-right:px;
    padding-left: px;
}

.pull-left{
    margin-right: 10px;
}
.pull-right{
    margin-right: 50px;
}
